* {
    margin: 0px;
    padding: 0px;
}

$primary1: #8C9086;
$primary2: #232323;
$neutral: #ffffff;

h1, h2, h3, h4, h5, body, p, input {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: $primary2;
}



@mixin card{
    padding: 2em;

}
@mixin button-active-state {
    background-color: $neutral;
    color: $primary2 !important;
}

.active-page{
    @include button-active-state ()
}



header {
    background-color: $primary2;
    color: $neutral;
    padding: 2em;
    
}

.no-underline-link{
    text-decoration: none;
}


.menu{
    position:relative;
}
.navbar{
    position:absolute;
    padding:0;
    background-color: $primary2;
    border-color: $neutral;
    border: 1px;
    right:-2em;
}
    .header-wrapper {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        #checkbox-toggle{
            display: none;

        }
        #checkbox-toggle ~ .navbar{
            display: none;
        }

        #checkbox-toggle:checked ~ .navbar{
            display: flex;
        }


        
       .navbar {
           color: $neutral;
           display: flex;
           flex-direction: column;
           justify-content: center;
           a{
               color: $neutral;
               text-decoration: none;
               padding: 15px;
           }
           a:hover{
            @include button-active-state ()
           }
       }
    }



body {
    background-color: $primary1;
}

.main{
    @include card();
}
.main-wrapper{
    width: 100%;
    margin: 0 auto;
}

.img-wrapper img {
    margin: 0 auto;
    display:block;
    width: 100%;
    max-width: 441px;
    height: auto;
}

.main-content {
    padding: 2em 3em 0;
}

.main-welcome{
    padding-bottom: 1em;
}

.intro {
    font-size: 24px;
    font-style: italic;
}

.short-intro{ 
    font-size: 14px;
}

.qoute {
    font-style: italic;
    font-size: 24px;
    margin: 1em 0;
}

.icon-wrapper {


    .icons {
        width: 100%;
        max-width: 25px;
        height: auto;
    }
}


.update-message {
   align-items: center;
   margin-top: 1em;

    a {
        color: $neutral;
        text-decoration: none;
       
    }
}

footer {
    color: $neutral;
    background-color: $primary2;
    padding: 2em;

    .footer_wrapper {
        width: 100%;
        max-width: 1600px;
        margin: 0 auto 0 auto;
        text-align: center;
        
    }

    .footer_first{
        a{
            color: $neutral;
            text-decoration: none;
        }
    }

    .footer_second {
        margin-top: 1em;
    }
}

.content-bottom {
    padding-top: 5em;
}


/* Media Q */

@media screen and (min-width: 750px) and (max-width: 899px) {
    .main {
        min-height: calc(100vh - 73px - 73px - 2em - 2em);
    }
}

// ipad air
@media screen and (min-width: 900px) {
    

    .main-wrapper {
        // margin: 1em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        max-width: 1600px;
        margin: 0 auto;
    }
    .img-wrapper {
        order: 1;
        width: 33%;
        
    }
    .main-content{
        width: 66%;
        padding-left: 7em;
    }

    .main-welcome {
        margin-left: -6.5em;
    }
    .content-wrapper {
        display: flex;
        align-items: center;
    }
    .content-left,
    .content-right{
        flex-basis: 50%;
        box-sizing: border-box;
    }

    .content-left {
        font-weight: bold;
        padding-right: 4em;
    }

    .content-right {

    }
    .intro {
        font-size: 45px;
    }

    .short-intro {
        font-size: 20px;
    }

    .qoute {
        font-size: 30px;
    }    
    .content-bottom {
       display: flex;
       flex-direction:column;
       justify-content: end;
    }
    
   
    

    footer{
        .footer_wrapper {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;        
            
            .footer_second{
                margin-top: 0;
            }
        }
    }
}

// desktop
@media  screen and (min-width: 1061px) {

    .header-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;

       
        .toggle-label{
            display: none;
        }
        
        #checkbox-toggle ~ .navbar {
            display: flex;
        }

        .navbar {
            flex-direction: row;
            justify-content: end;
            position: relative;
            right: -1em;
            a{
                padding: 15px;
            }
        }
    }
    h1{
        font-size: 24px;
    }

    .intro {
        font-size: 96px;
    }
    .main {
        min-height: calc(100vh - 133px - 73px - 2em - 2em);
    }
    .main-wrapper {
    max-width: 1600px;
    margin: 0 auto;
    
    
        .short-intro {
            font-size: 24px;
        }

        .qoute {
            font-size: 36px;
        }
    }
}

    







/* -------------------- Start - BLOG ---------------------- */

.blog-preview {
    display: none;
}

.blog-content-top {
    display: flex;
    flex-direction: column;
}


.blog-content {
    background-color: #fff;
    border: 1px solid $primary2;
    padding: 1em;
    margin: 2em 0;
}

.blog-content-date {
    color: #848484;
    margin-bottom: 0.5em;
}

.blog-img {
    max-width: 150px;
    margin: 1em auto;
}



@media screen and (min-width: 900px) {
    .blog-page {
        .main-content{
            width: 100%;
            padding: 2em 3em;
        }
        .main-welcome {
            margin-left: 0;
        }
    }

    .blog-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .blog-item {
        flex-basis: 31%;
    }

    .blog-content{
        margin: 1em 0;
    }
}


@media  screen and (min-width: 1061px) {
    .blog-item {
        flex-basis: 22%;
    }

    .blog-preview {
        display: block;
        cursor: pointer;
        padding: 0.5em 0;
        background: #ACACAC;
        padding: 2em;
        text-align: center;
        border: 1px solid;
    }

    .blog-preview:hover ~ .blog-content{
        display: block;
    }

    .blog-num {
        display: block;
        font-size: 24px;
    }

    .blog-content {
        display: none;
        position: absolute;
        top: 15%;
        right: -15%;
        width: 30%;
    }

    .blog-content-bottom{
        text-align: center;
    }

    .blog-wrapper {
        position: relative;
        margin-top: 2em;
    }
}
/* -------------------- End - BLOG ---------------------- */







/* -------------------- Start - Contact ---------------------- */
.contact-box{
    background-color: #D9D9D9;
    border: 1px solid;
    padding: 2em;
    margin-top: 2em;
}

.contact-button {
    padding: 0.25em 1em;
    border: 0;
}

@media screen and (min-width: 900px) {
    .impact-message{
        color: $neutral;
    }

    .contact-page{
        .intro{
            position: relative;
        }
        .impact-message{
            position: absolute;
            left: 0;
            top: 18px;
        
        }
    }
}
/* -------------------- End - Contact ---------------------- */