/* -------------------- Start - COMMON---------------------- */
* {
  margin: 0px;
  padding: 0px;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, body, p, input, textarea {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #232323;
}

h1 {
  color: #ffffff;
}

.active-page {
  background-color: #ffffff;
  color: #232323 !important;
}

header {
  background-color: #232323;
  color: #ffffff;
  padding: 2em;
}

.no-underline-link {
  text-decoration: none;
}

.logo-wrapper {
  height: 60px;
}

#header-img {
  max-height: 100%;
  width: auto;
}

.menu {
  position: relative;
}

.navbar {
  position: absolute;
  padding: 0;
  background-color: #232323;
  border-color: #ffffff;
  border: 1px;
  right: -2em;
}

.header-wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-wrapper #checkbox-toggle {
  display: none;
}
.header-wrapper #checkbox-toggle ~ .navbar {
  display: none;
}
.header-wrapper #checkbox-toggle:checked ~ .navbar {
  display: flex;
}
.header-wrapper .navbar {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-wrapper .navbar a {
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
}
.header-wrapper .navbar a:hover {
  background-color: #ffffff;
  color: #232323 !important;
}

body {
  background-color: #8C9086;
  display: flex;
  flex-direction: column;
}

/* -------------------- End - COMMON---------------------- */
/* -------------------- Start - MAIN PAGE---------------------- */
.main {
  padding: 2em;
  flex: 1 0 auto;
  display: flex;
  align-items: center;
}

.main-wrapper {
  width: 100%;
  margin: 0 auto;
}

.img-wrapper img {
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 441px;
  height: auto;
}

.main-content {
  padding: 2em 3em 0;
}

.main-welcome {
  padding-bottom: 1em;
}

.intro {
  font-size: 24px;
  font-style: italic;
}

.short-intro {
  font-size: 14px;
}

.qoute {
  font-style: italic;
  font-size: 24px;
  margin: 1em 0;
}

.icon-wrapper .icons {
  width: 100%;
  max-width: 25px;
  height: auto;
}

.update-message {
  align-items: center;
  margin-top: 1em;
}
.update-message a {
  color: #ffffff;
  text-decoration: none;
}

footer {
  color: #ffffff;
  background-color: #232323;
  padding: 2em;
  flex-shrink: 0;
}
footer .footer_wrapper {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto 0 auto;
  text-align: center;
}
footer .footer_first a {
  color: #ffffff;
  text-decoration: none;
}
footer .footer_second {
  margin-top: 1em;
}

.content-bottom {
  padding-top: 5em;
}

/* Media Q */
@media screen and (min-width: 900px) {
  .main-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1600px;
    margin: 0 auto;
  }

  .img-wrapper {
    order: 1;
    width: 33%;
  }

  .main-content {
    width: 66%;
    padding-left: 7em;
  }

  .content-wrapper {
    display: flex;
    align-items: center;
  }

  .content-left,
.content-right {
    flex-basis: 50%;
    box-sizing: border-box;
  }

  .content-left {
    font-weight: bold;
    padding-right: 4em;
  }

  .intro {
    font-size: 45px;
  }

  .short-intro {
    font-size: 20px;
  }

  .qoute {
    font-size: 30px;
  }

  .content-bottom {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  footer .footer_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  footer .footer_wrapper .footer_second {
    margin-top: 0;
  }
}
@media screen and (min-width: 1061px) {
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
  }
  .header-wrapper .toggle-label {
    display: none;
  }
  .header-wrapper #checkbox-toggle ~ .navbar {
    display: flex;
  }
  .header-wrapper .navbar {
    flex-direction: row;
    justify-content: end;
    position: relative;
    right: -1em;
  }
  .header-wrapper .navbar a {
    padding: 15px;
  }

  h1 {
    font-size: 24px;
  }

  .intro {
    font-size: 96px;
  }

  .main-content {
    padding-top: 0;
  }

  .main-wrapper {
    max-width: 1600px;
    margin: 0 auto;
  }
  .main-wrapper .short-intro {
    font-size: 24px;
  }
  .main-wrapper .qoute {
    font-size: 36px;
  }
}
/* -------------------- End - MAIN PAGE---------------------- */
/* -------------------- Start - ABOUT ---------------------- */
.skill-head {
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  font-style: italic;
  padding-bottom: 10px;
  display: block;
}

.about-main .img-wrapper img {
  width: auto;
  max-height: 350px;
}

.tech-stack {
  display: flex;
}
.tech-stack a {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #232323;
  text-align: center;
  line-height: 45px;
  margin-right: 3px;
}

@media screen and (min-width: 900px) {
  .tech-stack {
    justify-content: flex-start;
  }
  .tech-stack a {
    margin-right: 6px;
  }

  .about-main .img-wrapper img {
    max-height: 600px;
  }
}
/* -------------------- End  - ABOUT ---------------------- */
/* -------------------- Start - BLOG ---------------------- */
.blog-preview {
  display: none;
}

.blog-content-top {
  display: flex;
  flex-direction: column;
}

.blog-content {
  background-color: #fff;
  border: 1px solid #232323;
  padding: 1em;
  margin: 2em 0;
}

.blog-content-date {
  color: #848484;
  margin-bottom: 0.5em;
}

.blog-img {
  max-width: 150px;
  margin: 1em auto;
}

.blog-list ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.blog-list ul a {
  border: 1px solid;
  text-decoration: none;
  padding: 7px;
  border-radius: 25px;
  display: block;
  margin-right: 5px;
  margin-bottom: 5px;
}

.blog-toggle-button {
  display: none;
}

@media screen and (min-width: 900px) {
  .blog-page .main-content {
    width: 100%;
    padding: 2em 3em;
  }
  .blog-page .main-welcome {
    margin-left: 0;
  }

  .blog-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .blog-item {
    flex-basis: 31%;
  }

  .blog-content {
    margin: 1em 0;
  }
}
@media screen and (min-width: 1061px) {
  .blog-item {
    flex-basis: 22%;
  }

  .blog-preview {
    display: block;
    cursor: pointer;
    padding: 0.5em 0;
    background: #ACACAC;
    padding: 2em;
    text-align: center;
    border: 1px solid;
  }

  .blog-num {
    display: block;
    font-size: 24px;
  }

  .blog-content {
    display: none;
    position: absolute;
    top: 15%;
    right: -15%;
    width: 30%;
  }

  .blog-content-bottom {
    text-align: center;
  }

  .blog-wrapper {
    position: relative;
    margin-top: 2em;
    width: 418px;
  }

  .blog-view-wrap {
    width: 940px;
    margin: 0 auto;
  }

  .blog-item {
    position: relative;
    flex-basis: 48%;
    margin-bottom: 10px;
  }

  .blog-list {
    display: none;
  }

  .blog-toggle-button {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  .blog-toggle-button:checked + .blog-preview {
    opacity: 0.5;
  }

  .blog-toggle-button:checked ~ .blog-content {
    display: block;
  }

  .blog-content {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    min-width: 430px;
    margin-top: 0;
  }

  #blog-1 .blog-content {
    top: 0;
    left: 483px;
  }

  #blog-2 .blog-content {
    top: 0;
    left: 265.5px;
  }

  #blog-3 .blog-content {
    left: 483px;
    top: -114.5px;
  }

  #blog-4 .blog-content {
    top: -114.5px;
    left: 265.5px;
  }

  #blog-5 .blog-content {
    top: -229px;
    left: 483px;
  }
}
/* -------------------- End - BLOG ---------------------- */
/* -------------------- Start - Resume ---------------------- */
.main-resume .intro {
  margin-bottom: 15px;
}
.main-resume p a {
  display: none;
  color: #ffffff;
}

.resume-page .short-intro {
  margin-top: 15px;
  margin-bottom: 15px;
}
.resume-page .short-intro h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.experience h3,
.other h3 {
  font-size: 15px;
  margin-bottom: 15px;
}
.experience ul,
.other ul {
  padding-left: 3em;
  margin-top: 15px;
  margin-bottom: 15px;
}

.job-title {
  font-size: 18px;
  margin-bottom: 7px;
}

.timeline {
  font-style: italic;
  display: block;
  opacity: 0.75;
}

.resume-wrapper {
  width: 100%;
}

.resume-click-bottom p {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 2em;
}
.resume-click-bottom p a {
  display: block;
  color: #ffffff;
}

@media screen and (min-width: 900px) {
  .main-resume p a {
    display: inline;
    color: #ffffff;
  }

  .education-heading {
    margin-top: 3em;
  }

  .main-content {
    width: 80%;
    padding-left: 2em;
  }

  .resume-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .resume-click-bottom {
    display: none;
    padding-top: 0;
  }

  .resume-page .main-resume h3,
.resume-page .short-intro h3,
.resume-page .experience h3,
.resume-page .other h3 {
    font-size: 22px;
  }
  .resume-page .main-resume p,
.resume-page .main-resume ul,
.resume-page .short-intro p,
.resume-page .short-intro ul,
.resume-page .experience p,
.resume-page .experience ul,
.resume-page .other p,
.resume-page .other ul {
    font-size: 17px;
  }
  .resume-page .short-intro {
    flex-basis: 100%;
    margin: 3em 0;
  }
  .resume-page .experience,
.resume-page .other {
    flex-basis: calc(50% - 3em);
  }
}
@media screen and (min-width: 1061px) {
  .main-resume {
    margin-bottom: 5em;
  }

  .resume-page {
    padding: 4em;
  }
  .resume-page .short-intro,
.resume-page .experience,
.resume-page .other {
    flex-basis: calc(33% - 1.5em);
    padding: 0;
    margin: 0;
  }
}
/* -------------------- End  - Resume ---------------------- */
/* -------------------- Start - Contact ---------------------- */
.contact-box {
  background-color: #D9D9D9;
  border: 1px solid;
  padding: 2em;
  margin-top: 2em;
}
.contact-box input, .contact-box textarea {
  padding: 0.25em;
}

.contact-button {
  background-color: #232323;
  color: #ffffff;
  display: block;
  margin-left: auto;
  padding: 0.25em 1em !important;
  border: 0;
}

.contact-button:hover {
  background-color: #ffffff;
  color: #232323 !important;
}

.contact-row {
  margin-bottom: 0.5em;
}

.contact-message-label {
  display: block;
}

.contact-message-box {
  width: 100%;
  height: 10em;
}

@media screen and (min-width: 900px) {
  .contact-wrapper {
    width: 65%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  .impact-message {
    color: #ffffff;
  }

  .contact-page {
    display: block;
    padding: 2em;
  }
  .contact-page .intro {
    position: relative;
  }
  .contact-page .impact-message {
    position: absolute;
    left: 0;
    top: 18px;
  }
}
/* -------------------- End - Contact ---------------------- */

/*# sourceMappingURL=style.css.map */
